
<% if @book.errors.messages.length > 0 %>
  <section class="errors">
    <h2>Something went wrong!</h2>
    <ul>
      <% @book.errors.messages.each do |field, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <strong><%= field %>:</strong>
            <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<section>
  <%= form_for @book do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :author %>
    <%= f.text_field :author %>

    <%= f.submit value: "#{submit_text} Book" %>
  <% end %>
</section>
