<h2>List of Books</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book.id) %>
      Age: <%= book.age.nil? ? "unknown" : book.age %>
      <%= link_to "Edit", edit_book_path(book) %>
    </li>
  <% end %>
</ul>

<%= link_to "go back to the home page", welcome_path, alt: "this is a link!", class: "link", id: "go-home-link" %>
<%= link_to "Add a new book", new_book_path %>

<%= link_to image_tag("cat.jpg", alt: "adorable cat", height: "300px"), "http://www.google.com" %>
